node_modules
app/node_modules
npm-debug.log
.DS_Store
*.log
cache
.vscode/
prod
build
app/server/dist/build/
app/tmp/
app/upload/*.jpg
app/upload/*.jpeg
app/upload/*.png
app/upload/*.bmp
app/upload/*.pdf
package-lock.json
yarn.lock
yarn-error.log
app/yarn.lock
app/yarn-error.log
*/**/btemp/*
*/**/wptemp/*
*/**/target/*
*/**/node_modules/*